{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/6934a84829.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link a href="{% static './css/main/mystyle.css' %}" rel="stylesheet"/>

    <title>Wild Portrait Safaris | Home </title>
  </head>
  <body>

<!--===== Intro Image ===== -->

<div id="slides" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{% static '/img/home22.jpg' %}">
          <div class="carousel-caption">
            <h1 class="display-4">Wild Portrait Safaris</h1>
            <h3> Experiencing nature at it's best</h3>
            <a href="{% url 'safaripackages_view' %}">
            <button type="button" class="btn btn-outline-light btn-lg"> View Safari Packages</button>
            </a>
            <a href="{% url 'inquiry' %}">
            <button type="button"  class="btn btn-outline-light btn-lg"> Customize Your Itinerary</button>
            </a>
          </div>
      </div>
    </div>
</div>

<!-- ===== Welcome Section ===== -->
<div class="container-fluid padding">
<div class=" row welcome text-center">
    <div class="col-12">
      <h1 class="display-4"> Who Are We?</h1>
    </div>
    <hr>

    <div class="col-12">
      <p class="lead">Wild Portraits Safaris is a safari outfitter based in Kenya. We are dedicated to provide wildlife enthusiasts, campers, hikers, as well as photographers with the best game viewing experience possible.</p>
    </div>
</div>
</div>

<!-- ===== Three Column Section ===== -->

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-award"></i>
        <h5>Certified Professions</h5>
        <article id="whoarewe">
        Wild Portrait Safaris is a professional safari outfitter. We help you plan your itineraries packages competently to give you the most authentic safari as per your aspirations. We attribute our success to a flexible team of professionals. Wild Portraits Safari guides are all accredited members of KPSGA (Kenya Professional Safari Guides Association) at silver and gold levels. These are highly qualified guides who will provide you with best experience in the field.
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-medal"></i>
        <h5>Experience In The East Africa Parks</h5>
        <article>Rolling savannahs thundering with wildlife contrast with sultry land of palmy beaches bathed by the Indian ocean and imbued with a thousand years of Swahili history. A String of jewel -like lakes dot the yawning fault line of the rift valley while the gorilla inhabited mountains of Uganda and Rwanda call. Lets explore the word renown slices of paradise together from the Serengeti to Amboseli</article>
    </div>
    <div class="col-sm-12 col-md-4">
        <i class="fas fa-thumbs-up"></i>
        <h5>Well Thought Of Plan</h5>
        <article>With you on every step in planning your safari so as to cater for your specific needs as you explore our beautiful, we advise on the best and strategically located facilities, best itinerary flow depending on your areas of interest and having over 10 years’ experience we are your best safari companions
        </article>
    </div>
  
  </div>
  <hr class="my-4">
</div>


<!-- ===== Button ===== -->


<div class="container-fluid welcomecard">
  <div class="row-justify-center ">
    <div class="card text-white bg-secondary mb-3 w-80">
      <div class="card-body row">
        <p class="card-text col-md-10">With supporting text below as a natural lead-in to additional content with supporting text below as a natural lead-in to additional content
        </p>
        <a href="#" class="btn btn-primary col-md-2">Customize My Itinerary</a>
      </div>
    </div>      
  </div>
</div>

<!-- ===== Safari Packages ===== -->

<div class="container-fluid padding" id="safaris">
  <div class="row text-center padding">
    <div class="col-12">
      <article class="display-4"> Our Itinerary Packages </article>
    </div>
    <hr>
  <div class=" container-fluid row text-center">
{% for safaripackage in all_safaripackages %}
      <div class="col-md-3">
        <div class="card mb-2 shadow">
          <img class="card-img-top"
            src="{{ MEDIA_URL}} {{ safaripackage.image.url }}"
            alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ safaripackage.title|title}}</h4>
          <p><i class="far fa-calendar-alt"></i> {{ safaripackage.days|floatformat }} Days and {{ safaripackage.nights|floatformat }} Nights</p>
            <p><i class="fas fa-dollar-sign"></i> {{ safaripackage.cost|floatformat }} Per Person (Estimated Cost)</p>
            <hr class="my-4">
            <p class="card-text">{{ safaripackage.telegram }}</p>
            <a href="{% url 'single_safaripackage' safaripackage.pk %}" class="btn btn-primary">View Details</a>
        </div>
        </div>
      </div>
{% endfor %}  
  </div>

  <div class=" container text-center">
    <a href="{% url 'safaripackages_view' %}"> <button type="button" class="btn btn-secondary btn-lg btn-block shadow">View more safari packages</button> </a>
  </div>
</div>
</div>
<hr class="my-4">


<!-- ===== Our Services ===== -->

<div class="container-fluid padding" id="safaris">
  <div class="row text-center padding justify-content-center">
    <div class="col-12">
      <article class="display-4"> Our Services </article>
    </div>
    <hr>

  <div class="containter-fluid row justify-content-center">    
    <div class="card shadow" id="services">
      <div class="card-body">
        <i class="fas fa-campground"></i>
        <h4 class="card-title"> Camping Safaris</h4>
      </div>
    </div>

    <div class="card shadow" id="services">
      <div class="card-body">
        <i class="fas fa-plane-arrival"></i>
        <h4 class="card-title"> Airport Transfers</h4>
      </div>
    </div>

    <div class="card shadow" id="services">
      <div class="card-body">
        <i class="fas fa-user-friends"></i>
        <h4 class="card-title"> Tour Guiding </h4>
      </div>
    </div>

    <div class="card shadow" id="services">
      <div class="card-body">
        <i class="fas fa-hotel"></i>
        <h4 class="card-title"> Hotel Booking </h4>
      </div>
    </div>

  </div>  
</div>
<hr class="my-4">

 
<!-- ===== Why Choose Us  ===== -->

<div class="container-fluid padding" id="safaris">
  <div class="row text-center padding">
    <div class="col-12">
      <article class="display-4"> Why Travel With Us </article>
    </div>
    <hr>

    <div class="container-fluid padding">
      <div class="row padding">
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-xs-2 col-md-2">
                <i class="fas fa-user-check"></i>
              </div>
              <div class="col-xs-10 col-md-10">
                <article style="text-align: left">
                Our guides are highly qualified and experienced in working with international photographing and film teams. Therefore, they are an essential factor in the success of your safari.</article>
              </div>              
            </div>

            <div class="row">
              <div class="col-xs-2 col-md-2">
                <i class="fas fa-user-clock"></i>
              </div>
              <div class="col-xs-10 col-md-10">
                <article style="text-align: left">
                  Wild Portrait Safaris has extensive experience in guiding and creating itinery packages in East Africa for a variety of clients. As a travel partner we bring vast experience to compliment your desired safari.
                </article>
              </div>              
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2">
                <i class="fas fa-shuttle-van"></i>
              </div>
              <div class="col-xs-10 col-md-10">
                <article style="text-align: left">
                  Every safari is unique and requires different types of vehicles. We provide customized safari vehicles to compliment your photographic, family or budget safari.
                </article>
              </div>              
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2">
                <i class="fas fa-hotel"></i>
              </div>
              <div class="col-xs-10 col-md-10">
                <article style="text-align: left">
                  We handpick hotels and accomodation that specificaally suits your safari package. This is an important aspect of the safari, since it serves as a perfect foil and unwinding location after a successful day in the wild.
                </article>
              </div>              
            </div>

          </div>

<!-- Youtube -->          
          <div class="col-lg-6">
            <div class="row">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/l__qbQkAET0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <span>
                            <div class="row">
              <div class="col-xs-2 col-md-2">
                <i class="fas fa-file-invoice-dollar"></i>
              </div>
              <div class="col-xs-10 col-md-10">
                <article style="text-align: left">
                  Another reason to travel with us, as opposed to planning and taking your own trip, is cost. We believe our trips represent good value, and once you've considered all of the expenses involved in running all-inclusive trips, we think you will too.
                </article>
              </div>              
            </div>
                
              </span>
            </div>
          </div>
      </div>
    </div>  
  </div>
</div>
<hr class="my-4">

<!-- ===== Meet The Team ===== -->

<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4"> Meet The Team </h1>
    </div>
    <hr>
</div>
</div>

<!-- Cards Section-->

<div class="container-fluid padding">
<div class="row padding">
  <div class="col-md-4 text-center">  
    <div class="card shadow">
        <img class="card-img-top" src="{% static '/img/Bro.jpg' %}">
        <div class="card-body">
              <h4>John Kimani</h4>
              <span>Office Manager</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p>
              <div class="social row">
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="#">
                    <i class="fab fa-facebook"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="#">
                    <i class="fab fa-instagram"></i>
                  </a>          
                </div>
              </div>
        </div>
    </div>
  </div>

  <div class="col-md-4 text-center">  
    <div class="card shadow">
        <img class="card-img-top " src="{% static '/img/bro_2.jpg' %}">
        <div class="card-body">
              <h4>James Muchina</h4>
              <span style="font-size: 25px;">Professional Tour Guide</span>
              <p>
                James is a silver level tour guide, certfied by Kenya Professional Safari Guides Association (KPSGA). He has vast experience, having being an active tour guide within the past decade. He is savvy in all game, but also has vast knowledge in photography as well as birding safaris.
              </p>
              <div class="social row">
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="https://www.facebook.com/muchinajm" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="https://www.tripadvisor.com/Attraction_Review-g294207-d19840960-Reviews-Wild_Portraits-Nairobi.html" target="_blank">
                    <i class="fab fa-tripadvisor"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="https://www.instagram.com/jamesmuchina/" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>          
                </div>
              </div>
        </div>
    </div>
  </div>
    <div class="col-md-4 text-center">  
    <div class="card shadow">
        <img class="card-img-top" src="{% static '/img/ken_2.jpg' %}">
        <div class="card-body">
              <h4>Kenneth Igathe</h4>
              <span style="font-size: 25px;">Professional Tour Guide</span>
              <p>
                Kenneth is silver level tour guide, certfied by Kenya Professional Safari Guides Association (KPSGA). He is a vibrant, energetic and passionate tour guide. Kenneth is well versed and knowledgable about all parks within kenya, which makes him a valuable asset to your itinerary.
              </p>
              <div class="social row">
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="https://www.facebook.com/kenneth.matheri.52" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>          
                </div>
                <div class="col-sm-4">
                  <a class="social-link py-4 w-100" href="#">
                    <i class="fab fa-instagram"></i>
                  </a>          
                </div>
              </div>
        </div>
    </div>
  </div>
    
</div>
</div> 
<!-- ===== Blog Section ===== -->


<div class="container-fluid padding" id="safaris">
  <div class="row text-center padding">
    <div class="col-12">
      <article class="display-4"> Stories From Some Of Our Experiences</article>
    </div>
    <hr>
  
  <div class=" container-fluid row text-center">
  {% for blog in all_blogs %}
      <div class="col-md-6">
        <div class="card-column mb-2 shadow">
          <div class="row">
          <img class="card-img col-md-4"
            src="{{ MEDIA_URL}} {{ blog.image.url }}"
            alt="Card image cap">
        <div class="card-body col-md-8">
<a href="{% url 'single_blog' blog.pk %}">
          <h4 class="card-title">{{blog.title}}</h4>
          <p class="card-text">{{blog.introduction}}Some quick example text to build on the card title and make up the bulk of the
              card's content.</p><small class="blockquote-footer">By <cite title="Source Title">{{ blog.author.get_full_name }}</cite></small>
          <p> <small class="text-muted">Created on {{ blog.created }}</small> </p>
</a>
        </div>
        </div>
        </div>
      </div>
  {% endfor %}
 
  </div>

  <div class=" container text-center">
    <a href="{% url 'blog' %}">
    <button type="button" class="btn btn-secondary btn-lg btn-block shadow">View more of our blogs</button>
    </a>
  </div>
</div>
</div>
<hr class="my-4">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
{% endblock %}
</html>
