{% extends 'base.html' %}
{% load static %}
<!doctype html>
{% block 'content' %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Inquire About Safari</title>
  </head>
  <body>

<!-- CSS-->

<style type="text/css">
  header { padding-bottom: 2rem;
  }
  #inqbody { padding-bottom: 2rem;

  }
</style>    

<header>

<div class="card bg-dark text-white">
  <img class="card-img" src="{% static '/img/lion 2.jpg' %}" height="500" width="auto" alt="Card image">
  <div class="card-img-overlay text-center" style="position:absolute;top:0;left:0;height:100%;width:100%;background-color:#212529;opacity:.5;">
    <h3 class="card-title display-2">Inquire About A Safari</h3>
  </div>
</div>

</header>

<div id="inqbody" class="container-fluid row justify-content-center">
  <div class="col-xs-8 col-lg-8 col-md-6">

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFname">First Name</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLname">Last Name</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFname">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLname">Phone Number</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
  </div>
  <div class="form-group">
     <label for="exampleFormControlTextarea1">Message</label>
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send Inquiry</button>
</form>

  </div>  
</div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}