{% extends 'base.html'%}
{% load static %}
{% block 'content' %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
    <link rel="stylesheet" a href="{% static '/css/bootstrap.css' %}"/>
    <link rel="stylesheet" a href="{% static '/css/fonts.css' %}"/>
    <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
<header>

<div class="card bg-dark text-white">
  <img class="card-img" src="{{blog.image.url}}" height="500" width="auto" alt="Card image">
  <div class="card-img-overlay text-center" style="position:absolute;top:0;left:0;height:100%;width:100%;background-color:#212529;opacity:.5;">
    <h3 class="card-title display-2">{{ blog.title }}</h3>
    <h4 class="card-text display-10">
      <span class="meta">Posted by
              <a href="#">{{ blog.author.get_full_name }}</a>
              on {{blog.created}}</span>
    </h4>
  </div>
</div>

</header>
        
 <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
        </ol>
        <h2>Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</h2>

      </div>
    </section><!-- End Breadcrumbs -->

<article>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <p>
        {{ blog.introduction}}
      </p>

      <img src="{{ blog.image2.url}}" style="width: 100%; height: auto;">

      <p class="des_text">
        {{ blog.body }}        
      </p>
    </div>
    
  </div>
</div>
</article>

    <script src="{% static 'js/bootstrapjquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="https://kit.fontawesome.com/6934a84829.js" crossorigin="anonymous"></script>
    </body>
</html>
{% endblock %}