{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="{% static '/css/bootstrap.css' %}"/>
    <link rel="stylesheet" a href="{% static '/css/fonts.css' %}"/>
    
</head>
	
	{% include 'navbar.html'%}

	{% block 'content' %}
	
	{% endblock %}


    {% include 'footer.html' %}

<script src="{% static '/js/bootstrapjquery.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/popper.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>
</html>

</body>