{% load static %}

<!--Footer-->
<style type="text/css">

.fa-instagram, .fa-twitter, .fa-facebook, .fa-youtube  {
  color: orange;
}

.fa-instagram :hover, .fa-twitter :hover, .fa-facebook :hover, .fa-youtube :hover {
  color: cyan;
}
.reachus {
  font-size: 30px;
  margin: 1rem;
  color: orange;
}
.quicklinks {
  color: orange;
}
.quicklinks:hover {
  color: cyan;
}
a {
    text-decoration: none !important;
}

</style>
<footer>
  
  <div class="container-fluid padding" style="background-image: url({% static '/img/elphie_background.jpg' %})!important; 
  width: 100%;
  height: 100%;
  color: orange;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;">
  <div class="row text-center">
    <div class="col-md-3">
      <hr class="light">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '/img/lgo.png' %}" width="350" height="280" class="d-inline-block" alt=""> </a>
    </div>
    <div class="col-md-3">
      <hr class="light">
      <h5>Quick Links</h5>
      <hr class="light">
      <a class="quicklinks" href="{% url 'inquiry' %}"> <p>Book A Safari</p></a>
      <a class="quicklinks" href="{% url 'safaripackages_view' %}"> <p>Safari Packages</p></a>
      <a class="quicklinks" href="{% url 'blog' %}"> <p>Blog</p></a>
      <a class="quicklinks" href="{% url 'about_us' %}"> <p>About Us</p></a>
    </div>
    <div class="col-md-3">
      <hr class="light">
      <h5>Reach Us On</h5>
      <hr class="light">
      <i class="reachus fas fa-phone-square-alt"></i>
      <p> +254 720357597</p>
      <p> +254 720357597</p>
      <i class="reachus fas fa-envelope-open-text"></i>
      <p> info@wildportraitsafaris.com</p>
      <p> booking@wildportraitsafaris.com</p>
    </div>
    <div class="col-md-3">
        <hr class="light">
        <h5>Social Media</h5>
        <hr class="light">
         <div class=" col-12 social" style="font-size: 2em; ">
              <a href="#"> <i class="fab fa-instagram"></i> </a>
              <br>
              <a href="https://www.facebook.com/wildportraitsafaris/" target="_blank"> <i class="fab fa-facebook"></i> </a>
              <br>
              <a href="#"> <i class="fab fa-twitter"></i> </a>
              <br>
              <a href="#"> <i class="fab fa-youtube"></i> </a>
          </div>
    </div>
    <div class="col-12">
        <hr class="light">
        <h5> {% now 'Y' %} &copy; Wild Portrait Safaris</h5>
    </div>
  </div>
  </div>
</footer>
