{% load static %}



<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '/img/lgo.png' %}" width="150" height="100" class="d-inline-block" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a href="{% url 'home' %}" class="nav-link">Home</a>        
                </li>
                  <li class="nav-item">
                  <a href="{% url 'safaripackages:safaripackages_view' %}" class="nav-link">Safari Packages</a>        
                </li>
                <li class="nav-item">
                  <a href="{% url 'blog' %}" class="nav-link">Blog</a>        
                </li>
                <li class="nav-item">
                  <a href="{% url 'about_us' %}" class="nav-link">About</a>        
                </li>
                <li>  
                  <a href=" {% url 'the_team'%}" class="nav-link"> The Team</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'contact_us' %}" class="nav-link">Contact</a>        
                </li>
                <li class="nav-item">
                  <a href="{% url 'faq' %}" class="nav-link">FAQ</a>        
                </li>
              </ul>
              
            </div>
</div>    
</nav>


